* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

img {
    max-width: 100%;
}

.title_bottom {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 6px;
}

.subtitle_bottom {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 48px;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 32px;
}

.bottom_item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.bottom_item_content {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bottom_item_img {
    padding-bottom: 24px;
}

.bottom_item_heading {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 12px;
}

.bottom_item_text {
    color: #5D5D5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 18px;
}

.bottom_item_price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bot {
    margin-bottom: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bot_note {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FF6A6A;
    padding: 15px 39px 15px 39px;
}

.bot_note:hover {
    background-color: #F1E4E6;
    color: black;
    transition: all 0.3s;
}